# SQLite database files
*.db.sqlite3
*.sqlite3

# Python caches and compiled files
__pycache__/
*.pyc

# Cython-related files
cython/
*.so
*.pyd

# Log files
*.log

# Django migration files
migrations/

# Database files
*.db

# Ignore virtual environment
/env/
